{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'players/css/player_profile.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container">


    <div class="row center">
        <div class="col-8 col-lg-6 player-profile-pic">
            <img src="{{ MEDIA_URL }}{{ player.image_url }}" class="" alt="{{ player.name }}">
        </div>
        <div class="col-12 col-lg-6">
            <div class="player-name-container">
                <h1 id='player-name'>{{ player.name }}
                    <span id='player-number'>{{ player.number }}</span>
                </h1>
            </div>
            <div class="stat-block appearences-stat">
                <h3 class="stat-title">Appearances
                    <span class="stat-number">{{ appearances }}</span>
                </h3>
            </div>
            <div class="stat-block goals-stat">
                <h3 class="stat-title">Goals
                    <span class="stat-number">{{ player.goals.count }}</span>
                </h3>
            </div>
            <div class="stat-block assists-stat">
                <h3 class="stat-title">Assists
                    <span class="stat-number">{{ player.assists.count }}</span>
                </h3>
            </div>
            <div class="stat-block clean-sheets-stat">
                <h3 class="stat-title">Clean Sheets 
                    <span class="stat-number">{{ clean_sheets }}</span>
                </h3>
            </div>
            <a class="back-button" href="{% url 'players' %}">
                <i class="fas fa-arrow-left"></i> Back
            </a>
            {% if user.is_superuser %}
            <a class="back-button" href="{% url 'edit_player' player.id %}">
                Edit
            </a>
            {% endif %}

        </div>
    </div>

</div>


{% endblock %}