{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'players/css/squad.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="conainer">
    <div class="row  g-0">
        <div class="row g-0"><h2 class="center">Goalkeeper</h2></div>
        <div class="row center g-0">
            {% for player in players %}
                {% if player.position == 'Goalkeeper' %}
                <a href="{% url 'player_profile' player.id %}" class="col-6 col-md-4 col-lg-2 player-image">
                    <img src="{{ MEDIA_URL }}{{ player.image_url }}" class="" alt="{{ player.name }}">
                    <div class="player-number">{{ player.number }}</div>
                    <div class="player-name">{{ player.name }}</div>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row g-0">
        <div class="row g-0"><h2 class="center">Defenders</h2></div>
        <div class="row center g-0">
        {% for player in players %}
            {% if player.position == 'Defender' %}
                <a href="{% url 'player_profile' player.id %}" class="col-6 col-md-4 col-lg-2 player-image">
                    <img src="{{ MEDIA_URL }}{{ player.image_url }}" class="" alt="{{ player.name }}">
                    <div class="player-number">{{ player.number }}</div>
                    <div class="player-name">{{ player.name }}</div>
                </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="row g-0">
        <div class="row g-0"><h2 class="center">Midfielders</h2></div>
        <div class="row center g-0">
        {% for player in players %}
            {% if player.position == 'Midfield' %}
                <a href="{% url 'player_profile' player.id %}" class="col-6 col-md-4 col-lg-2 player-image">
                    <img src="{{ MEDIA_URL }}{{ player.image_url }}" class="" alt="{{ player.name }}">
                    <div class="player-number">{{ player.number }}</div>
                    <div class="player-name">{{ player.name }}</div>
                </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="row g-0">
        <div class="row g-0"><h2 class="center">Forwards</h2></div>
        <div class="row center g-0">
        {% for player in players %}
            {% if player.position == 'Forward' %}
                <a href="{% url 'player_profile' player.id %}" class="col-6 col-md-4 col-lg-2  player-image">
                        <img src="{{ MEDIA_URL }}{{ player.image_url }}" class="" alt="{{ player.name }}">
                        <div class="player-number">{{ player.number }}</div>
                        <div class="player-name">{{ player.name }}</div>
                    </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}