{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/players/css/teams.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="conainer">
    <div class="row">
        <div class="row"><h2 class="center">Goalkeeper</h2></div>
        <div class="row center">
            {% for player in players %}
                {% if player.position == 'Goalkeeper' %}
                <a href="{% url 'player_profile' player.id %}" class="col-2 player-image">
                    <img src="{% static player.close_up_image_url %}" class="" alt="{{ player.name }}">
                    <div class="player-number">{{ player.number }}</div>
                    <div class="player-name">{{ player.name }}</div>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="row"><h2 class="center">Defender</h2></div>
        <div class="row center">
        {% for player in players %}
            {% if player.position == 'Defender' %}
                <a href="{% url 'player_profile' player.id %}" class="col-2 player-image">
                    <img src="{% static player.close_up_image_url %}" class="" alt="{{ player.name }}">
                    <div class="player-number">{{ player.number }}</div>
                    <div class="player-name">{{ player.name }}</div>
                </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="row"><h2 class="center">Midfielder</h2></div>
        <div class="row center">
        {% for player in players %}
            {% if player.position == 'Midfield' %}
                <a href="{% url 'player_profile' player.id %}" class="col-2 player-image">
                    <img src="{% static player.close_up_image_url %}" class="" alt="{{ player.name }}">
                    <div class="player-number">{{ player.number }}</div>
                    <div class="player-name">{{ player.name }}</div>
                </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="row"><h2 class="center">Forward</h2></div>
        <div class="row center">
        {% for player in players %}
            {% if player.position == 'Forward' %}
                <a href="{% url 'player_profile' player.id %}" class="col-2 player-image">
                        <img src="{% static player.close_up_image_url %}" class="" alt="{{ player.name }}">
                        <div class="player-number">{{ player.number }}</div>
                        <div class="player-name">{{ player.name }}</div>
                    </a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}