{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static '/home/css/home.css' %}">
<link rel="stylesheet" href="{% static '/home/css/carousel.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}

  <div class="row center hero-image-row">
    <div class="col-10 hero-outer">
      <img id="hero-image" class='no-gutters' src='media/team-hero-image.jpg' alt='Team Photo'>
      <span id='fixture-tab' class='hero-tab bold'>Fixture</span>
      <span id='book-tickets-tab' class='hero-tab bold'>Book Tickets!</span>
    </div>
  </div>

<div class='carousel-container'>
<div class="row center">
  <div id="player-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner row">
      <div class="carousel-item active">
        <div class="row carousel-row">
          <img src="media/harvey-close-up.jpg" class="d-block w-20 player-close-up col-4" alt="Harvey Carter">
          <img src="media/joe-close-up.jpg" class="d-block w-20 player-close-up col-4" alt="Ollie Findlay">
          <img src="media/josh-close-up.jpg" class="d-block w-20 player-close-up col-4" alt="James Sebire">
        </div>
      </div>
      <div class="carousel-item">
        <div class="row carousel-row">
          <img src="media/joe-close-up.jpg" class="d-block w-20 player-close-up col-4" alt="Joe O'brien">
          <img src="media/josh-close-up.jpg" class="d-block w-20 player-close-up col-4" alt="Josh Ireland">
          <img src="media/kiran-close-up.jpg" class="d-block w-20 player-close-up col-4" alt="Kiran Illet">
        </div>
      </div>
      <div class="carousel-item">
        <div class="row carousel-row">
          <img src="media/josh-close-up.jpg" class="d-block w-20 player-close-up col-4" alt="George Bangs">
          <img src="media/kiran-close-up.jpg" class="d-block w-20 player-close-up col-4" alt="Adam Kempster">
        </div>
      </div>
    </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#player-carousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#player-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#player-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#player-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#player-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src='{% static "/home/js/carousel.js" %}'></script>

{% endblock %}