{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<link rel="stylesheet" href="{% static 'home/css/carousel.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row center hero-image-row no-gutters">
  <div class="col-10 hero-outer">
    <img id="hero-image" class='g-0' src="{{ MEDIA_URL }}team-hero-image.jpg" alt='Team Photo'>
    <span id='fixture-tab' class='hero-tab bold'>Fixture</span>
    <span id='book-tickets-tab' class='hero-tab bold'>Book Tickets!</span>
  </div>
</div>

<div class='carousel-container'>
  <div class="row center g-0">
    <div id="player-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner row">
        <div class="carousel-item active">
          <div class="row carousel-row">
            {% for player in players %}
            <a href="{% url 'player_profile' player.id %}"><img src="{{ MEDIA_URL }}{{ player.close_up_image_url }}" class="d-block w-20 player-close-up col-4"
              alt="{{ player.name }}"></a>
            
            {% if forloop.counter|divisibleby:3 %}
          </div>
        </div>
        <div class="carousel-item">
          <div class="row carousel-row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#player-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#player-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src='{% static "/home/js/carousel.js" %}'></script>

{% endblock %}