{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<link rel="stylesheet" href="{% static 'home/css/carousel.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}


<div id='mobile-fixture-tab' class='center bold mobile-hero-tabs  d-block d-md-none'>
  {% if fixture.home_team.name == 'Messi Ankles' %}
  <table class="table table-sm next-fixture-table table-dark">
    <tbody>
      <tr>
        <th>Next Match: H</th>
        <td>{{ fixture.time }}</td>
      </tr>
      <tr>
        <td>{{ fixture.away_team }}</td>
        <td>{{ fixture.date }}</td>
      </tr>
    </tbody>
  </table>


  {% endif %}
  {% if fixture.away_team.name == 'Messi Ankles' %}
  <table class="table table-sm next-fixture-table table-dark">
    <thead>

    </thead>
    <tbody>
      <tr>
        <th>Next Match: A</th>
        <td>{{ fixture.time }}</td>
      </tr>
      <tr>
        <td>{{ fixture.home_team }}</td>
        <td>{{ fixture.date }}</td>
      </tr>
    </tbody>
  </table>
  {% endif %}

</div>


<a class='no-underline  d-block d-md-none' href="{% url 'tickets' %}">
  <div id='mobile-book-tickets-tab' class='center bold mobile-hero-tabs'>
    <span>Book Tickets!</span>
  </div>
</a>

<div class="row center hero-image-row no-gutters">

  <div class="col-11 hero-outer">
    <img id="hero-image" class='g-0' src="{{ MEDIA_URL }}team-hero-image.jpg" alt='Team Photo'>

    <div class="hero-tabs-div d-none d-md-block">
      <a href="{% url 'fixtures' %}">
        <div id='fixture-tab' class='center bold hero-tabs'>
          {% if fixture.home_team.name == 'Messi Ankles' %}
          <table class="table table-sm next-fixture-table table-dark">
            <tbody>
              <tr>
                <th>Next Match: H</th>
                <td>{{ fixture.time }}</td>
              </tr>
              <tr>
                <td>{{ fixture.away_team }}</td>
                <td>{{ fixture.date }}</td>
              </tr>
            </tbody>
          </table>


          {% endif %}
          {% if fixture.away_team.name == 'Messi Ankles' %}
          <table class="table table-sm next-fixture-table table-dark">
            <thead>

            </thead>
            <tbody>
              <tr>
                <th>Next Match: A</th>
                <td>{{ fixture.time }}</td>
              </tr>
              <tr>
                <td>{{ fixture.home_team }}</td>
                <td>{{ fixture.date }}</td>
              </tr>
            </tbody>
          </table>
          {% endif %}
        </div>
      </a>
      <a href="{% url 'tickets' %}">
        <div id='book-tickets-tab' class='center bold hero-tabs'>
          <span>Book Tickets!</span>
        </div>
      </a>
    </div>

  </div>
</div>

<div class='carousel-container carousel-dark d-none d-md-block'>
  <div class="row center g-0">
    <div id="player-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner row">
        <div class="carousel-item active">
          <div class="row carousel-row">
            {% for player in players %}
            <a href="{% url 'player_profile' player.id %}"><img src="{{ MEDIA_URL }}{{ player.image_url }}"
                class="d-block w-20 player-close-up col-4" alt="{{ player.name }}"></a>

            {% if forloop.counter|divisibleby:3 %}
          </div>
        </div>
        <div class="carousel-item">
          <div class="row carousel-row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#player-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#player-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<!-- Mobile Screen Carousel -->
<div class='carousel-container carousel-dark d-block d-md-none'>
  <div class="row center g-0">
    <div id="mobile-player-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner row active">
        {% for player in players %}
        {% if forloop.first %}
        <div class="carousel-item w-80 active">
          <a href="{% url 'player_profile' player.id %}"><img src="{{ MEDIA_URL }}{{ player.image_url }}"
              class="d-block w-80 player-close-up" alt="{{ player.name }}"></a>
        </div>
        {% else %}
        <div class="carousel-item w-80">
          <a href="{% url 'player_profile' player.id %}"><img src="{{ MEDIA_URL }}{{ player.image_url }}"
              class="d-block w-80 player-close-up" alt="{{ player.name }}"></a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="row">
        <button class="carousel-control-prev" type="button" data-bs-target="#mobile-player-carousel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mobile-player-carousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src='{% static "home/js/carousel.js" %}'></script>

{% endblock %}