.carousel{
    margin:5vw 0;
    text-align: -webkit-center;
}
.carousel-indicators{
    position: relative;
}
.carousel-row{
    place-content: center;
}
.carousel-row > a{
    width: fit-content !important;
}
.player-close-up{
    width: 25vw;
    border: 5px solid black;
    margin: 10px;
}
.carousel-control-next, .carousel-control-prev {
    top:unset;
    bottom:-10px;
}
@media screen and (max-width: 767px) {

    .player-close-up{
        width: 60vw;
        border: 5px solid black;
        margin: 10px;
    }
}