#hero-image{
    width: 95vw;
    border: 4px solid black;
    --bs-gutter-x: 0;
    margin: 10px;
}
#hero-image-outer{
    width: 100vw;
    overflow: hidden;
    text-align: center;
    max-height: 800px;
    margin: 10px;

}

