#hero-image{
    width: 100%;
    --bs-gutter-x: 0;
    padding:80px 0;
}
.hero-outer{
    position:relative;
}
.hero-image-row{
    background-color: black;
    display: inline-flex;
    width: 100%;
    padding-top: 1rem;
}
#book-tickets-tab{
    width: 75%;
    float: right;

}
.hero-tabs-div{
    position: absolute;
    right: 0%;
    min-width: 20vw;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    top: 38%;
}
.hero-tabs-div a{
    text-decoration: none;
}
.hero-tabs{
    background-color: black;
    color: white;
    padding: 10px 30px;
    min-width: 20vw;
    margin: 10px 0;
    font-size: 20px;
    text-decoration: None;
}
.mobile-hero-tabs-div a{
    text-decoration: none;
}
.mobile-hero-tabs-div{
    margin: 2px;
    border: 1rem solid;
    color: black;
    
}
.mobile-hero-tabs{
    background-color: black;
    color: white;
    font-size: 20px;
    text-decoration: None;
    padding: 10px;
    margin:1rem;
}
.next-fixture-table{
    font-size: 15px;
    --bs-table-bg:black;
}
.next-fixture-table > tr > td{
    border: none;
}
#mobile-book-tickets-tab{
    color:white;
    background-color: black;
    text-decoration: none;
}

@media screen and (max-width: 576px) {
    #hero-image {
        width: 100%;
        --bs-gutter-x: 0;
        padding: 10px 0 30px 0;
    }
}
