{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">{{ user | capfirst }}'s Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row profile-content">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th class="d-none d-md-table-cell">Order Number</th>
                                <th class="d-none d-md-table-cell">Fixture</th>
                                <th class="d-none d-md-table-cell">No. of Tickets</th>
                                <th class="d-none d-md-table-cell">Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticket in tickets %}
                            <tr class="d-table-row d-md-none">
                                <th colspan="2">Order Number</th>
                                <td colspan="2" class='order-number'>{{ ticket.ticket_id }}</td>
                            </tr>
                            <tr class="d-table-row d-md-none">
                                <th colspan="2">Fixture</th>
                                <td colspan="2" class='order-number'>{{ ticket.fixture }}</td>
                            </tr>
                            <tr class="d-table-row d-md-none">
                                <th colspan="2">No. of Tickets</th>
                                <td colspan="2" class='order-number'>{{ ticket.number_of_tickets }}</td>
                            </tr>
                            <tr class="d-table-row d-md-none">
                                <th colspan="2">Total</th>
                                <td colspan="2" class='order-number'>{{ ticket.price }}</td>
                            </tr>
                            <tr class = "d-none d-md-table-row">
                                <td class='order-number'>{{ ticket.ticket_id }}</td>
                                <td class='fixture'>{{ ticket.fixture }}</td>
                                <td class='number-of-tickets'>{{ ticket.number_of_tickets }}</td>
                                <td class='price'>${{ ticket.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <p class="text-muted">Profile Details</p>
                <form method="POST" action="{% url 'profile' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for fields in form %}
                    {{ fields | as_crispy_field }}
                    {% endfor %}
                    <button id="save-profile-btn" type='submit' class="custom-btn">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}