.table {
    width: 70%;
    margin: 20px auto;
}
.badge {
    margin: 10px;
    min-height: 4rem;
    width: 120px;
    font-size: 1rem;
    font-weight:500;
    padding-top: 0.8rem;
    padding-top: 0.8rem;
}
.btn-close{
    padding:5px;
    opacity: 1;
    font-size: 0.8rem;
}