body{
  font-family: 'Inter', sans-serif;
  background-color: #ffe344;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
h1, h2,h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}

.col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.center{
    justify-content: center;
    text-align: center;
    
  }
.self-center{
  justify-self: center;
}
.vertical-center{
  align-items: center;
}
.align-right{
    text-align:right;
  }
.bold{
  font-weight:bold;
}
.custom-btn{
  color:white;
  background-color: black;
}
.custom-btn:hover{
  color:black;
  background-color: #ffe344e5;
  border: 1px solid black;
}
/* Club Badge Stylings */

#club-logo{
  width: 50%;
  margin: 10px;
}
#club-title{
  font-size: 30px;
  font-weight: bold;
}

/* footer stylings */
footer{
  background-color: black;
  color:white;
  padding: 10px;
}
.social-links{
  text-align: right;
  padding-right: 25px;
  font-size: 20px;
}
.fab{
  padding:5px;
}
.social-links > span:hover{
  color:#ffe344;
}
#footer-email{
  padding-left: 20px;
}

/* Allauth form stylings */

.form-group, .form-check{
  padding:10px;
}
.form-group > label, .form-check > label{
  float: left;
}

#forgot-password-link{
  float:left;
  padding:10px;
}
#sign-in-btn{
  float: right;
  padding: 10px;
  margin-bottom: 40px;
}
/* media screen */

@media screen and (max-width: 767px) {
  .social-links{
    text-align: center;
    padding-right: 25px;
    font-size: 20px;
  }
}