body{
  font-family: 'Inter', sans-serif;
  background-color: #ffde45;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}
h1, h2,h3, h4, h5, h6{
  font-family: 'Roboto', sans-serif;
}

.col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.center{
    justify-content: center;
    text-align: center;
    
  }
.self-center{
  justify-self: center;
}
.vertical-center{
  align-items: center;
}
.align-right{
    text-align:right;
  }
.bold{
  font-weight:bold;
}
.no-underline{
  text-decoration: none;
}
.custom-btn{
  color:white;
  background-color: black;
  border-radius: 0;
}
.custom-btn:hover{
  color:black;
  background-color: #ffde45;
  border: 1px solid black;
}
/* Club Badge Stylings */

.club-logo{
  width: 12vw;
  max-width: 100px;
  margin-left:2rem;
}
#club-title{
  font-size: 30px;
  font-weight: bold;
  padding-left: 1.7rem;
}
.logo-title-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* footer stylings */
footer{
  background-color: black;
  color:white;
  padding: 10px;
}
.social-links{
  text-align: right;
  padding-right: 25px;
  font-size: 20px;
}
.fab{
  padding:5px;
}
.social-links > span:hover{
  color:#ffde45;
}
#footer-email{
  padding-left: 20px;
}
/* ------------------------------- bootstrap toasts */

.toast {
  position: fixed;
  margin: 2rem;
}

.toast-container {
  position: absolute;

}

/* Allauth form stylings */

.form-group, .form-check{
  padding:10px;
}
.form-group > label, .form-check > label{
  float: left;
}

#forgot-password-link{
  float:left;
  padding:10px;
}
#sign-in-btn{
  float: right;
  padding: 10px;
  margin-bottom: 40px;
}
/* media screen */

@media screen and (max-width: 767px) {
  .social-links{
    text-align: center;
    padding-right: 25px;
    font-size: 20px;
  }
}