.mobile-nav-bar{
    float: right;
    height: 0;
    border-bottom: 80px solid black;
    border-left: 37px solid transparent;
}
.nav-title{
    color: black;
}
#mobile-nav-btn{
    background-color: black;
    color: white;
    border: none;
    font-size: 25px;
    margin-left: 20px;
}
.mob-menu-item{
    width: 13vw;
    height: 80px;
    transform: skew(-25deg);
    background: black;
    border: 0.5px solid rgb(31, 29, 29);
    color: white;
    text-align: center;
    transition: background-color .5s;
}
.mob-menu-item > a{
    transform: skew(25deg);
}
.mob-burger-menu{
    text-align: center;
}

@media screen and (max-width: 576px) {
    .mobile-nav-bar{
        height: 0;
        background:black;

    }

}

.offcanvas{
    background-color:black;
    color: #ffe344;
}
.offcanvas-body > ul{
    list-style: none;
}
.side-menu-item{
    padding: 10px;
}
.side-menu-item > a{
    color:#ffe344;
    font-size: 20px;
}

#account-side-menu-box{
    background-color: #ffe344;
    color: black;
    height: 100px;
    margin-top: 50%;
    padding: 1rem;
    margin-bottom: 0;
}
.account-side-menu-item{
    justify-content: center;
    padding: 1rem;
    font-size: 15px;
}
.account-side-menu-item > a{
    color: black;
    font-weight: bold;
}
.offcanvas-body{
    padding:0;
}