.nav-custom {
    float: right;
    height: 0;
    border-bottom: 80px solid black;
    border-left: 37px solid transparent;
    width:fit-content;
    border-right: 1rem solid black;
}
.top-row{
  background-color: #ffde45;
  align-items: center;
  margin: 20px 0;
  justify-content: space-between;
}
.menu-item {
    width: 6rem;
    height: 80px;
    transform: skew(-25deg);
    background: black;
    border: 0.5px solid rgb(31, 29, 29);
    color: white;
    text-align: center;
    transition: background-color .5s;

  }
.login-item{
  width: 6.5rem;
  height: 80px;
  background: black;
  border: 0.5px solid black;
  color: white;
  text-align: center;
  transition: background-color .5s;

}
.menu-item:hover, .login-item:hover{
    background-color: #ffde45;
  }
.menu-item > .nav-link{
  transform: skew(25deg);
}
.nav-link {
      color: white;
  }
.menu-item:hover > .nav-link, .login-item:hover > .nav-link {
    color: black;
  }

#login-list{
  padding-left:16px
}
.trapezoid {
  height: 0;
  transform: skew(0deg);
  background: transparent;
  margin-left: -19px;
  margin-right: -17px;
  border-bottom: 79px solid black;
  border-left: 37px solid transparent;
  transition: border .5s;
}
.trapezoid > .trapezoid-text{
  transform: skew(0deg);
  margin-top: 73px;
}
.trapezoid:hover{
  border-bottom: 78px solid #ffde45;
  border-left: 37px solid transparent;
  background: transparent;
}
.nav{
    display: inline-flex;
    font-size: 0.85rem;
}
.nav > a{
  text-decoration: none;
}