{% extends "base.html" %}
{% load static %}

{% block extra_css%}
<link rel="stylesheet" href="{% static 'teams/css/table.css' %}">

{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="container center">

    <h2 class=''>Table</h2>

    <table class="table table-dark table-striped col-8 center">



        <thead>
            <tr>
                <th>Team</th>
                <th>W-D-L</th>
                <th>+/-</th>
                <th>Points</th>
            </tr>
        </thead>

        <tbody>
            {% for team in teams %}
            <tr class="">
                <th>{{ team.name }}</th>
                <td>{{ team.get_wins }}-{{ team.get_draws }}-{{ team.get_losses }}</td>
                <td>{{ team.get_goal_difference }}</td>
                <td>{{ team.get_points }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

{% endblock %}