{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock %}

<div class="row top-row g-0">

  <div class="col-3 col-xl-4 logo-title-div">
    <div class=""><img id="club-logo" alt="club badge" class="club-logo" src="{{ MEDIA_URL }}ma-badge.png"></div>
    <div class="">
      <h1 class="club-title align-middle nav-title">MESSI ANKLES</h1>
    </div>
  </div>

  <div class="col-6 nav-custom">

    <ul class="nav justify-content-center">
      <li>
        <a class="active" aria-current="page" href="{% url 'home' %}">
          <div class="nav-item menu-item d-flex align-items-center justify-content-center ">
            <span class='nav-link'>Home</span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="{% url 'players' %}">
          <div class="nav-item menu-item d-flex align-items-center justify-content-center ">
            <span class='nav-link'>Players</span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="{% url 'fixtures' %}">
          <div class="nav-item menu-item d-flex align-items-center justify-content-center ">
            <span class='nav-link'>Fixtures</span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="{% url 'table' %}">
          <div class="nav-item menu-item d-flex align-items-center justify-content-center ">
            <span class='nav-link'>Table</span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="{% url 'tickets' %}">
          <div id="book-tickets" class="nav-item menu-item d-flex align-items-center justify-content-center  trapezoid">
            <span class='nav-link trapezoid-text'>Tickets</span>
          </div>
        </a>
      </li>
    </ul>
    <ul id="login-list" class="nav justify-content-center">
      {% if user.is_authenticated %}
      <li>
        <a class="" href="{% url 'profile' %}">
          <div class="nav-item login-item d-flex align-items-center justify-content-center">
            <span class='nav-link'>Profile</span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="{% url 'account_logout' %}">
          <div class="nav-item login-item d-flex align-items-center justify-content-center">
            <span class='nav-link'>Logout</span>
          </div>
        </a>
      </li>
      {% else %}
      <li>
        <a class="" href="{% url 'account_login' %}">
          <div class="nav-item login-item d-flex align-items-center justify-content-center ">
            <span class='nav-link'>Login</span>
          </div>
        </a>
      </li>
      <li>
        <a class="" href="{% url 'account_signup' %}">
          <div class="nav-item login-item d-flex align-items-center justify-content-center">
            <span class='nav-link'>Create Account</span>
          </div>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>