{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
{% endblock %}

<div class="row top-row g-0">

  <div class="col-3 col-xl-4 logo-title-div">  
    <div class=""><img id="club-logo" class="club-logo" src="{{ MEDIA_URL }}ma-badge.png"></div>
    <div class=""><h1 id="club-title" class="align-middle nav-title">MESSI ANKLES</h1></div>
  </div>


  <div class="col-6 nav-custom">

      <ul class="nav justify-content-center">
        <a class="active" aria-current="page" href="{% url 'home' %}">
          <li class="nav-item menu-item d-flex align-items-center justify-content-center ">
            <span class='nav-link'>Home</span>
          </li>
        </a>
        <a class="" href="{% url 'players' %}">
          <li class="nav-item menu-item d-flex align-items-center justify-content-center ">
            <span class='nav-link'>Players</span>
          </li>
        </a>
        <a class="" href="{% url 'fixtures' %}">
          <li class="nav-item menu-item d-flex align-items-center justify-content-center ">
            <span class='nav-link'>Fixtures</span>
          </li>
        </a>
        <a class="" href="#">
          <li class="nav-item menu-item d-flex align-items-center justify-content-center ">
            <span class='nav-link'>Club</span>
          </li>
        </a>
        <a class="" href="{% url 'tickets' %}">
          <li class="nav-item menu-item d-flex align-items-center justify-content-center book-tickets trapezoid">
            <span class='nav-link trapezoid-text'>Tickets</span>
          </li>
        </a>


      </ul>

      <ul id="login-list" class="nav justify-content-center">
        {% if user.is_authenticated %}
        <a class="" href="{% url 'profile' %}">
          <li class="nav-item login-item d-flex align-items-center justify-content-center">
            <span class='nav-link'>Profile</span>
          </li>
        </a>
        <a class="" href="{% url 'account_logout' %}">
          <li class="nav-item login-item d-flex align-items-center justify-content-center">
            <span class='nav-link'>Logout</span>
          </li>
        </a>
        {% else %}
        <a class="" href="{% url 'account_login' %}">
          <li class="nav-item login-item d-flex align-items-center justify-content-center ">
            <span class='nav-link'>Login</span>
          </li>
        </a>
        <a class="" href="{% url 'account_signup' %}">
          <li class="nav-item login-item d-flex align-items-center justify-content-center">
            <span class='nav-link'>Create Account</span>
          </li>
        </a>
        {% endif %}

      </ul>
  </div>
</div>