{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/mobile-nav.css' %}">
{% endblock %}
<div class="row top-row g-0 vertical-center">

    <div class="col-6 logo-title-div d-none d-sm-flex">
        <div> <img id="" class="mobile-club-logo club-logo" src="{{ MEDIA_URL }}ma-badge.png"></div>
        <div><h1 id="club-title" class="align-middle nav-title">MESSI ANKLES</h1></div>
    </div>
    <div class='club-logo-xs col-2'>
         <img  class="mobile-club-logo club-logo " src="{{ MEDIA_URL }}ma-badge.png">
    </div>

    <div class="col-sm-6 mobile-nav-bar">
        <ul class="nav">
            <li class="nav-item mob-menu-item d-flex align-items-center justify-content-center">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item mob-menu-item d-flex align-items-center justify-content-center">
                <a class="nav-link" href="{% url 'tickets' %}">Tickets</a>
            </li>
            <li class="nav-item mob-menu-item d-flex align-items-center justify-content-center">
                <a class="nav-link" href="{% url 'fixtures' %}">Fixtures</a>
            </li>
            <li class="nav-item mob-burger-menu d-flex align-items-center justify-content-center">
                <button id="mobile-nav-btn" class="btn btn-primary warning" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fas fa-bars"></i></button>
            </li>
    </div>

</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="">
            <li class="side-menu-item">
                <a class="text-uppercase" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="side-menu-item">
                <a class="" href="{% url 'players' %}">Players</a>
            </li>
            <li class="side-menu-item">
                <a class="text-uppercase" href="{% url 'fixtures' %}">Fixtures</a>
            </li>
            <li class="side-menu-item">
                <a class="text-uppercase" href="#">Club</a>
            </li>
            <li class="side-menu-item">
                <a class="text-uppercase" href="{% url 'tickets' %}">Tickets</a>
            </li>

        </ul>

        <ul id="account-side-menu-box" class="">
            {% if user.is_authenticated %}
            <li class="account-side-menu-item center">
                <a class="text-uppercase" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <div class="row">
            <div class="col-6">
                <li class="account-side-menu-item center">
                    <a class="text-uppercase" href="{% url 'account_login' %}">Login</a>
                </li>
            </div>
            <div class="col-6">
                <li class="account-side-menu-item">
                    <a class="text-uppercase" href="account_signup">Create Account</a>
                </li>
            </div>
        </div>
            {% endif %}
        </ul>
    </div>
</div>