.player-image{
    margin: 20px;
    border: 3px solid black;
    background-color: black;
}
.player-image > img{
    width:100%;
}
.player-number{
    background-color: black;
    color:white;
}
.player-name{
    background-color: black;
    color:white;
}
a{
    text-decoration: none;
}