{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  <title>Messi Ankles FC</title>
</head>

<body>

<div class="row top-row">
  <div class="col-2 align-right">
   <img class="club-logo" src="{% static 'media/ma-badge.png' %}">
  </div>
  <div class="col-2">
  <span id="club-title" class="align-middle">MESSI ANKLES</span>
</div>
  <nav class="col-8">
    
    <ul class="nav justify-content-center">
      <li class="nav-item menu-item d-flex align-items-center justify-content-center">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item menu-item d-flex align-items-center justify-content-center">
        <a class="nav-link" href="{% url 'players' %}">Players</a>
      </li>
      <li class="nav-item menu-item d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">Fixtures</a>
      </li>
      <li class="nav-item menu-item d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">Club</a>
      </li>
      <li class="nav-item menu-item d-flex align-items-center justify-content-center book-tickets trapezoid">
        <a class="nav-link trapezoid-text" href="#">Book Tickets</a>
      </li>

    </ul>

    <ul id="login-list" class="nav justify-content-center">
      {% if session.user %}
      <li class="nav-item login-item d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">Logout</a>
      </li>
      {% else %}
      <li class="nav-item login-item d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">Login</a>
      </li>

      <li class="nav-item login-item d-flex align-items-center justify-content-center">
        <a class="nav-link" href="#">Create Account</a>
      </li>
      {% endif %}

    </ul>


    

  </nav>
</div>

  {% block page_header %}
  {% endblock %}


  {% block content %}
  {% endblock %}




  <footer class="page-footer">

    <span id="footer-email">messiankles@gmail.com</span>
    <div class="social-links float-right">
      <span><i class="fab fa-twitter"></i></span>
      <span><i class="fab fa-facebook"></i></span>
      <span><i class="fab fa-instagram"></i></span>

    </div>

  </footer>

  {% block postloadjs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
  {% endblock %}
</body>

</html>